h1{
    text-align: center;
    color: rgb(223, 25, 163);
    text-decoration: underline;
}

.image_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex_image{
    display: block;
    width: 200px;
    height: 200px;
    margin-bottom: 3px;
    margin-top: 10px;
}

.like{
    float: left;
}

.dislike{
    float: right;
}

.like_counter{
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}

.dislike_counter{
    float: right;
    margin-right: 10px;
    margin-top: 3px;
} 